@tailwind base;
@tailwind components;
@tailwind utilities;
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

.orbitron-custom {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
body::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}